<p id="notice"><%= notice %></p>

<h1>Listing User Favorites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_favorites.each do |user_favorite| %>
      <tr>
        <td><%= user_favorite.user_id %></td>
        <td><%= user_favorite.pet_id %></td>
        <td><%= link_to 'Show', user_favorite %></td>
        <td><%= link_to 'Edit', edit_user_favorite_path(user_favorite) %></td>
        <td><%= link_to 'Destroy', user_favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User favorite', new_user_favorite_path %>
