<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_favorite.user_id %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @user_favorite.pet_id %>
</p>

<%= link_to 'Edit', edit_user_favorite_path(@user_favorite) %> |
<%= link_to 'Back', user_favorites_path %>
